{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>Complete Registration</title>
  {% tailwind_css %}
</head>
<body>

  <h2>Enter Username & Password</h2>

  {% if messages %}
    {% for msg in messages %}
      <p style="color:red;">{{ msg }}</p>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <label>Username</label>
    <input type="text" name="username"  required><br><br>

    <label>Password</label>
    <input type="password" name="password1" required><br><br>

    <label>Confirm Password</label>
    <input type="password" name="password2" required><br><br>

    <button type="submit">Complete Registration</button>
  </form>

</body>
</html>
